@import "tailwindcss";

/* Optional: your custom styles */
body {
  background-color: #f5f5f5; /* dim white */
  color: #987070;  
  font-family: 'Georgia', serif; /* Elegant, classic blog font */          /* nude brown */
}
